.CreateTodoButton{
background-color: aqua;
box-shadow: 0 px 5px 25px green;
border: none;
border-radius: 50%;
cursor:pointer;
font-size: 50px;
position: fixed;
bottom: 24px;
right: 24px;
font-weight: bold;
color: #FAFAFA;
display: flex;
justify-content: center;
align-items: center;
height: 64px;
width: 64px;
}